seaborn
opencv-python>=4.13.0
colorlog
numpy>=1.26.0
Pillow
ipython
imageio
tqdm
scipy
lark
openai
matplotlib
scikit-image
wandb
rtpt
scikit-learn
grad-cam
einops
stable_baselines3
gym
debugpy
faiss-cpu
kornia
transformers==4.51.0
# apex - removed (difficult to install on Windows, requires manual compilation)
timm
accelerate
pycocotools